<div class="w-full pt-16 pb-6 text-sm text-center md:text-left fade-in">
    <a class="text-gray-500 no-underline hover:no-underline" href="#">&copy; App 2024</a>
    - Criado no desafio de Rust da comunidade do
    <a class="text-gray-500 no-underline hover:no-underline" href="https://www.torneseumprogramador.com.br/cursos/desafio_rust">torne-se um programador</a>
</div>